# This file is used to specify files and directories that should be ignored by npm
# when publishing a package. The following entries are commonly ignored:

node_modules
tests
src

.github
.vscode
.env.test
tsconfig.json